// colors

$white: #ffffff;
$black: #181818;
$textcolor: $black;
$lightneutralcolor: #f2f2f2;
$bordercolor: $textcolor;

// fonts

$font-size: 1em;

$basefontfamily: 'humanst521_btroman', sans-serif;
$altfontfamily: $basefontfamily;
$basefontsize: $font-size;
$baselineheight: 1.2;
$basefontbackgroundcolor: $white;

$baseheadingfont: $basefontfamily;
$baseheadingfontweight: bold;
$baseheadingfontcolor: $textcolor;

// margins / padding etc 

$gutterwidth: $basefontsize * 1.5;

body {
  width : 100%;
  background-color : transparent;
  font-family : $basefontfamily;
  font-size: $basefontsize;
  line-height : $baselineheight;
  color : $textcolor;
}
