@font-face {
  font-family: 'humanst521_btroman';
  src: url('../fonts/humanst521-bt-roman-11929-webfont.eot');
  src: url('../fonts/humanst521-bt-roman-11929-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/humanst521-bt-roman-11929-webfont.woff') format('woff'),
      url('../fonts/humanst521-bt-roman-11929-webfont.ttf') format('truetype'),
      url('../fonts/humanst521-bt-roman-11929-webfont.svg#humanst521_btroman') format('svg');
  font-weight: normal;
  font-style: normal;
}