.page {
  max-width: 1024px;
  margin: 0 auto;
}

.l-wrap {
  margin: 0 auto;
  padding: 0 4%;

  @media screen and (min-width: 48em) {
    padding: 0 $base-gutter-width;
  }
}

.l-panel {
  margin-bottom: $base-gutter-width;
}

.main {

  @media screen and (min-width: 48em) {
    float: right;
    width: 72%;
  }
}

.navigation {

  @media screen and (min-width: 48em) {
    float: left;
    width: 28%;
    max-width: 287px;
  }
}

.site-footer {
  clear: both;
}



