.menu-link {
  margin-bottom: $base-gutter-width;

  @media screen and (min-width: 48em) {
    display: none;
  }
}

.top-link {

  @media screen and (min-width: 48em) {

    // only show the 'top' link when the nav is at the bottom
    display: none;
  }
}